{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--======================================== Logo & Lema ========================================-->
<section class="full-reset font-cover">
	<div id="fondo">
		<div class="full-reset" style="height: 100%; background-color: rgba(255,255,255,.6); padding: 60px 0;">
			<h1 class="text-center titles">Colegio INEM Simón Bolívar</h1>
			<figure class="Logo-Ins-Index">
				<img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid mx-auto d-block">
			</figure>
			<p class="lead text-center">
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias repudiandae cumque dolorum mollitia
				tempora"
			</p>
		</div>
	</div>
</section>
<div class="divider-general"></div>
<!--======================================== Video corto & carrusel========================================-->
<section class="full-reset" style="background-color: rgb(242, 242, 242); padding: 40px 0;">
	<div class="container">
		<h2 class="text-center titles">Instalaciones de la institución</h2>
		<br><br>
		<!--======================================== Carrusel ========================================-->
		<div class="row">
			<div class="col-12 col-md-6 order-sm-2">
				<h3 class="text-center titles">Fotos Instalaciones</h3>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias repudiandae cumque
					dolorum mollitia tempora odit quam, rerum pariatur ipsa unde, delectus laborum aliquid
					voluptates, nihil sed iste minima quod doloribus.
					<a href="http://ins-sensunte.net/imagenes/espacio_ins/Flash01/index.html"
						class="open-link-newTab">Has click aqui para ver las fotos</a>
				</p>
				<i class="fa fa-picture-o icon-index d-none d-lg-block"></i>
			</div>
			<div class="col-12 col-md-6 order-sm-1">
				<div id="slider-ins" class="carousel slide" data-ride="carousel">
					<!-- Indicadores -->
					<ol class="carousel-indicators">
						<li data-target="#slider-ins" data-slide-to="0" class="active"></li>
						<li data-target="#slider-ins" data-slide-to="1"></li>
						<li data-target="#slider-ins" data-slide-to="2"></li>
					</ol>
					<!-- Imagenes -->
					<div class="carousel-inner" role="listbox">
						<!-- Primera imagen -->
						<div class="item active carousel-item">
							<img src="{% static 'img/default.png' %}" alt="Default">
							<div class="carousel-caption">Lorem ipsum dolor sit amet</div>
						</div>
						<!-- Segunda imagen -->
						<div class="item carousel-item">
							<img src="{% static 'img/default.png' %}" alt="Default">
							<div class="carousel-caption">Lorem ipsum dolor sit amet</div>
						</div>
						<!-- Tercera imagen -->
						<div class="item carousel-item">
							<img src="{% static 'img/default.png' %}" alt="Default">
							<div class="carousel-caption">Lorem ipsum dolor sit amet</div>
						</div>
					</div>
					<!-- Controles -->
					<a class="left carousel-control" href="#slider-ins" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#slider-ins" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
		<br>
		<div class="divider-general"></div>
		<br>
		<!--======================================== Video ========================================-->
		<div class="row">
			<div class="col-12 col-md-6">
				<h3 class="text-center titles">Video Instalaciones</h3>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias repudiandae
					cumque dolorum mollitia tempora odit quam, rerum pariatur ipsa unde, delectus
					laborum aliquid voluptates, nihil sed iste minima quod doloribus.</p>
				<i class="fa fa-film icon-index d-none d-lg-block"></i>
			</div>
			<div class="col-12 col-md-6">
				<video controls>
					<source src="{% static 'img/Introl.mp4' %}" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
</section>
<div class="divider-general"></div>
<!--======================================== Acontecer institucional ========================================-->
<section class="events-ins">
	<div class="container-fluid">
		<h2 class="text-center titles">ACONTECER INSTITUCIONAL</h2>
		<br><br>
		<div class="row">
			<!--======================================== Articulo 1 ========================================-->
			<article class="col-12 col-md-6 col-lg-4">
				<div class="thumbnail">
					<img src="{% static 'img/default.png' %}" alt="IMG" class="img-fluid rounded">
					<div class="caption">
						<h3 class="text-center">Lorem ipsum dolor sit amet</h3>
						<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Perferendis quam, incidunt, sapiente id quibusdam voluptatem.</p>
						<p class="text-center"><a href="#" class="btn btn-primary" role="button">Ver imágenes</a>
						</p>
					</div>
				</div>
			</article>
			<!--======================================== Articulo 2 ========================================-->
			<article class="col-12 col-md-6 col-lg-4">
				<div class="thumbnail">
					<img src="{% static 'img/default.png' %}" alt="IMG" class="img-fluid rounded">
					<div class="caption">
						<h3 class="text-center">Lorem ipsum dolor sit amet</h3>
						<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Perferendis quam, incidunt, sapiente id quibusdam voluptatem.</p>
						<p class="text-center"><a href="#" class="btn btn-primary" role="button">Ver imágenes</a>
						</p>
					</div>
				</div>
			</article>
			<!--======================================== Articulo 3 ========================================-->
			<article class="col-12 col-md-6 col-lg-4">
				<div class="thumbnail">
					<img src="{% static 'img/default.png' %}" alt="IMG" class="img-fluid rounded">
					<div class="caption">
						<h3 class="text-center">Lorem ipsum dolor sit amet</h3>
						<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Perferendis quam, incidunt, sapiente id quibusdam voluptatem.</p>
						<p class="text-center"><a href="#" class="btn btn-primary" role="button">Ver imágenes</a>
						</p>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>
<div class="divider-general"></div>
<!--======================================== Enlaces importantes ========================================-->
<section class="text-center important-links-index">
	<h2 class="titles">Sitios y enlaces importantes</h2>

	<a href="#!" class="open-link-newTab">
		<i class="fa fa-graduation-cap"></i>
		<p>MOODLE</p>
	</a>

	<a href="#!" class="open-link-newTab">
		<i class="fa fa-paw"></i>
		<p>ARA-MACAO</p>
	</a>

	<a href="#!" class="open-link-newTab">
		<i class="fa fa-globe"></i>
		<p>JOVENES A.T.T</p>
	</a>

	<a href="#!" class="open-link-newTab">
		<i class="fa fa-star-o"></i>
		<p>Promo. INS</p>
	</a>

	<a href="#!" class="open-link-newTab">
		<i class="fa fa-file-text-o"></i>
		<p>Cons.conducta</p>
	</a>

	<a href="#!" class="open-link-newTab">
		<i class="fa fa-download"></i>
		<p>Descargas</p>
	</a>
</section>
<!--======================================== Pie de pagina ========================================-->
{% endblock content %}